@model Mantex.ERP.Entities.Transaction
@{
    var activeBatch = Model.ActiveBatch ?? Model.LastBatch;
}
@if (activeBatch != null)
{
    var batchTime = activeBatch.ElapstedTime;
    var productionTime = Model.Batches.Select(b => b.ElapstedTime).Sum();

    <h3>Omgång @Model.BatchNumberOf(activeBatch)</h3>
    <div><strong>Startades</strong></div>
    <div>@activeBatch.StartedAt.ToShortDateString() @activeBatch.StartedAt.ToShortTimeString()</div>
    <div><strong>Material</strong></div>
    <div>@activeBatch.MaterialType.Name</div>
    <div><strong>Tid för omgång</strong></div>
    <div>@Html.DisplayFor(m => batchTime, "Stopwatch")</div>
    <div><strong>Total tid</strong></div>
    <div>@Html.DisplayFor(m => productionTime, "Stopwatch")</div>
}
else
{
    <h3>Ej påbörjad</h3>
}
