@model Mantex.LoadingControl.Models.LoadingModels.IndexModel
@{
    var activeTransactionId = Model.ActiveBatch == null ? null : Model.ActiveBatch.TransactionId;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kontrollpanel</h3>
    </div>
    <div class="panel-body">

        <form role="form">

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    @* Transaktionslista*@
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Välj Transaktion</label>
                            </div>
                            <div class="col-xs-6 text-right">
                                @dialogButton("Ny...", "NewTransactionModal", activeTransactionId == null, "btn-xs")
                            </div>
                        </div>
                        <div class="transaction-table">
                            @Html.DisplayFor(m => m.Transactions, "SmallTransactionTable", new { ActiveTransactionId = activeTransactionId })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label for="MaterialTypeSelect">Material</label>
                        @Html.DropDownListFor(m => m.SelectedMaterialType, new SelectList(Model.MaterialTypes, "Id", "Name"), new { Id = "MaterialTypeSelect", @Class = "form-control" })
                    </div>

                    <div class="form-group">
                        @button("Starta", activeTransactionId == null)
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@Html.Partial("NewTransactionModal")
@Html.Partial("ConfirmFinishModal")

@helper button(string text, bool isEnabled, string className = "btn-block")
{
    if (!isEnabled)
    {
        className += " disabled";
    }
    <button class="btn btn-primary @className">@text</button>
}
@helper dialogButton(string text, string dialogBoxId, bool isEnabled, string className = "")
{
    if (!isEnabled)
    {
        className += " disabled";
    }
    <a href="#@dialogBoxId" role="button" class="btn btn-success @className" data-toggle="modal">@text</a>
}
