@model string
@{
    Html.RequireScript("~/Scripts/Loading/SmallTransactionTable.js");
    var transactions = ((IEnumerable<Mantex.ERP.Entities.Transaction>)ViewBag.Transactions).OrderBy(t=>t.ShippingDate);
    var hasActiveTransaction = transactions.Any(t => t.Batches.Any(b => !b.StoppedAt.HasValue));
    var activeTransactionId = transactions.Where(t => t.Batches.Any(b => !b.StoppedAt.HasValue)).Select(t => t.Id).SingleOrDefault();
}
<table class="table table-hover">
    <tbody>
        @foreach (var transaction in transactions)
        {
            <tr class="@RowClassFor(transaction.Id, activeTransactionId)" data-id="@transaction.Id">
                <td>
                    @if (!hasActiveTransaction)
                    {
                        object attributes = transaction.Id == Model ? new { Checked = "checked" } : null;
                        @Html.RadioButtonFor(m => m, transaction.Id, attributes)
                    }
                </td>
                <td>@string.Format("{0:dd MMM}", transaction.ShippingDate)</td>
                <td>@transaction.ShippingMethod</td>
                <td>@transaction.Supplier</td>
                <td>@transaction.Name</td>
            </tr>
        }
    </tbody>
</table>
@functions{
    string SuffixOf(string Id)
    {
        var index = Id.LastIndexOf('-') + 1;
        var suffix = Id.Substring(index);
        return suffix;
    }
    string RowClassFor(string Id, string activeTransactionId)
    {
        return isActive(Id, activeTransactionId) ? "active" : null;
    }
    
    bool isActive(string Id, string activeTransactionId)
    {
        return (Id == activeTransactionId);
    }
}