@model string
@{
    var transactions = (IEnumerable<Mantex.ERP.Entities.Transaction>)ViewBag.Transactions;
}
<table class="table table-hover">
    <tbody>
        @foreach (var transaction in transactions)
        {
            <tr class="@RowClassFor(transaction.Id)">
                <td>
                    @if(!isActive(transaction.Id)){
                        @Html.RadioButtonFor(m => m, transaction.Id)
                    }
                </td>
                <td>@SuffixOf(transaction.Id)</td>
                <td>@transaction.ShippingMethod</td>
                <td>@transaction.Supplier</td>
                <td>@transaction.Name</td>
            </tr>
        }
    </tbody>
</table>
@functions{
    string SuffixOf(string Id)
    {
        var index = Id.LastIndexOf('-') + 1;
        var suffix = Id.Substring(index);
        return suffix;
    }
    string RowClassFor(string Id)
    {
        return isActive(Id) ? "active" : null;
    }
    
    bool isActive(string Id)
    {
        var activeTransactionId = (string)ViewBag.ActiveTransactionId;
        return (Id == activeTransactionId);
    }
}