@model Mantex.LoadingControl.Models.LoadingModels.ProductionStatusModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Producerat</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6"><strong>Omgång</strong></div>
            <div class="col-xs-6">@Model.BatchIndex</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Startades</strong></div>
            <div class="col-xs-6">@Model.StartTime.ToShortDateString() @Model.StartTime.ToShortTimeString()</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Tid för omgång</strong></div>
            <div class="col-xs-6">@Html.DisplayFor(m => m.ProductionTime_Batch, "Stopwatch")</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Tid för transaktion</strong></div>
            <div class="col-xs-6">@Html.DisplayFor(m => m.ProductionTime_Transaction, "Stopwatch")</div>
        </div>
    </div>
</div>
