@model Mantex.ERP.Data.Transaction
<div class="jumbotron">
    <h2>@Model.Supplier @Model.ShippingMethod @Model.Name</h2>
    <div class="row">
        <div class="col-xs-12">
            @Html.Action("Progress", "Loading", new { Id = Model.Id })
        </div>
    </div>
    <div class="panel panel-default">
        @Html.Action("MachineStatus", "Loading")
    </div>
</div>

